.turn {
  font-size: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .turnLabel {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -30px;
    letter-spacing: 0.6px;
  }

  .turnValue {
    font-size: 100px;
    font-weight: 900;

    &.x {
      color: var(--color-x);
    }

    &.o {
      color: var(--color-o);
    }
  }
}
